.checkbox {
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;

  &[data-disabled] {
    cursor: default;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &.checked .checkmark {
    opacity: 1;
  }
}
