.container {
  aspect-ratio: 1;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.customCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border: none;

  .checkIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 40%;
    height: 40%;
    opacity: 0;
  }
}

.hiddenCheckbox:checked + .customCheckbox {
  .checkIcon {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.hiddenCheckbox:disabled + .customCheckbox {
  cursor: not-allowed;
  opacity: 0.5;
}
