.svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outerCircle {
  fill: white;
  stroke: black;
  stroke-width: 3;
}

.innerCircle {
  fill: lightgray;
  stroke: black;
  stroke-width: 2;
}

.marker {
  stroke: black;
  stroke-width: 3;
}

.rotation {
  position: absolute;
  height: 100%;
  width: 100%;
}

.indicator {
  position: absolute;
  left: 50%;
  top: 0;
  height: 46%;
  width: 3%;
  margin-top: 4%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: black;
}
